// Página Contato"
// Título da Página e Modal:
-
    const titlePG = {
        "br": "Contato · Milton Santos",
        "en": "Contact · Milton Santos"
    }

    const titleModal = {
        "br": "Confirmação",
        "en": "Confirmation"
    }

    const textModal = {
        "br": "Equipe - Milton Santos",
        "en": "Team - Milton Santos"
    }

    const buttonModal = {
        "br": "Fechar",
        "en": "Close"
    }

// CONTEÚDOS DA PÁGINA - CONTAINER E FORMULÁRIO: 

-
    const titleConteudo = {
        "br": "Contato",
        "en": "Contact"
    }

    const form1 = {
        "br": "Nome Completo:",
        "en": "Full Name:"
    }

    const form2 = {
        "br": "E-mail:",
        "en": "Email:"
    }

    const placeholder = {
        "br": "nome@exemplo.com",
        "en": "name@example.com"
    }

    const form3 = {
        "br": "Mensagem:",
        "en": "Message:"
    }

    const buttonSend = {
        "br": "Enviar",
        "en": "Submit"
    }

// POP-OVER - ANIMAÇÃO DE FIM DE PÁGINA
-
    const titlePop = {
        "br": "Chegou ao fim!",
        "en": "It's come to an end!"
    }

    const subtitlePop = {
        "br": "Aêêê! Você conseguiu ler todo o conteúdo de nosso site!",
        "en": "Yeahhhh! You managed to read all the content on our website!"
    }

    const textPop = {
        "br": "Caso tenha alguma dúvida, entre em contato conosco por um de nossos canais de comunicação!",
        "en": "If you have any questions, please contact us through one of our communication channels!"
    }