//  Página LAYOUT - NAVBAR
-
    const linkHome = {
        "br": 'Início',
        "en": 'Home'
    }

    const linkWhy = {
        "br": 'Por que estudar Milton?',
        "en": 'Why study Milton?'
    }

    const linkContact = {
        "br": 'Contato',
        "en": 'Contact'
    }

    const linkWho = {
        "br": 'Quem Somos',
        "en": 'Who We Are'
    }

    const linkNEABI = {
        "br": 'NEABI',
        "en": 'CABIS'
    }

    const linkTCH = {
        "br": 'Professores',
        "en": 'Teachers'
    }

    const linkSTD = {
        "br": 'Estudantes',
        "en": 'Students'
    }
    
// LINK DROPDOWN IDIOMA - NAVBAR
-
    const back = {
        "br": '',
        "en": '#007bff'
    }

    const back2 = {
        "br": '#007bff',
        "en": ''
    }

    const linkPT = {
        "br": 'Português, BR',
        "en": 'Portuguese, BR'
    }

    const linkEN = {
        "br": 'Inglês, EUA',
        "en": 'English, USA'
    }

    const linkCS = {
        "br": 'Em Breve...',
        "en": 'Coming Soon...'
    }

// PÁGINA LAYOUT - FOOTER/RODAPÉ

-
    const textCopy = {
        "br": 'Todos os Direitos Reservados - 2021',
        "en": 'All Rights Reserved - 2021'
    }
