// Página "Por que estudar Milton Santos?"
// Título da Página:
-
    const titlePG = {
        "br": "Por que Estudar? · Milton Santos",
        "en": "Why Study? · Milton Santos"
    }

// Legenda - LINK Imagem: 
-
    const legendText = {
        "br": "Título Honoris Causa - Universidad de Barcelona (1996)",
        "en": "Honorary Title - University of Barcelona (1996)"
    }

    const legendLink = {
        "br": "Álbum",
        "en": "Photo Album"
    }

// Redação e Título do Texto:
-
    const tituloAutor = {
        "br": "Por que estudar Milton Santos?",
        "en": "Why study Milton Santos?"
    }

    const textoAutorP1 = {
        "br": "No dia 03 de maio de 1926, em Brotas de Macaúba, no interior da Bahia, nasce um dos mais importantes geógrafos do mundo, considerado por muitos, o maior pensador de toda a história da Geografia do Brasil: Milton Santos. Filho de pais professores, despertou interesse ao conhecimento geográfico prematuramente, em que lecionava aos seus colegas com apenas 15 anos de idade.",
        "en": "On May 3, 1926, in Brotas de Macaúba, in the interior of Bahia, one of the most important geographers of the world was born. Considered by many people, the greatest thinker of the geography of Brazil: Milton Santos. He was a son of parents who were teachers and had an interest in learning and studying geography as a kid, he taught to his colleagues when he was only 15 years old."
    }

    const textoAutorP2 = {
        "br": "Ao longo de sua carreira, formou-se e lecionou em diversas universidades ao redor do mundo, como na Universidade de Estrasburgo, na França. Além disso, em 1994, obteve o Nobel de Geografia (Vautrin Lud), sendo o único geógrafo brasileiro a conquistar esse prêmio. Em sua obra “Por uma Geografia Nova”, Milton criticava o sistema capitalista e defendia a necessidade de uma nova geografia, que adequava-se e alinhava-se ao pensamento marxista.",
        "en": "Throughout his career, he graduated and taught in many Universities around the world, like the University of Strasbourg, in France. Besides, in 1994, he got the Nobel of Geography (Vautrin Lud), being the only brazilian geographer to conquer this award. In his book “Por uma geografia nova” (For a new Geography), Milton criticized capitalism and defended the need of a new Geography that fitted and aligned with Marx's thoughts."
    }

    const textoAutorP3 = {
        "br": "Ficou conhecido pelos seus colegas como referência de pessoa e profissional dedicado. Amanda, uma de suas amigas, reforça esta afirmação com seu pensamento: “Milton é um intelectual de pensamento consolidado e vasto. É importante sua existência enquanto intelectual negro, muito para minha trajetória enquanto pesquisadora negra, porque parto da perspectiva que as relações raciais são fundamentais para compreender o mundo e sobretudo como nosso país foi estruturado”.",
        "en": "He became known by his colleagues as a reference and professional who always sought perfection. Amanda, one of his friends, reinforces this affirmation with her speech: “Milton is an intellectual with wide and certain thoughts. It’s really important his representation as an intellectual black man. It means a lot for my path as a research black woman, because I think that racial relations are really important for understanding the world and how our country was structured.”"
    }

    const textoAutorP4 = {
        "br": "Além disso, Milton teve uma carreira muito produtiva em que deixou mais de 40 obras como legado para o Brasil, incluindo as mais famosas “Por uma Geografia Nova” e “O Espaço Dividido”, ambas de 1978. Esses conteúdos através de suas obras desencadearam o que temos hoje como teorias e afirmações relacionadas à globalização em diversos aspectos, onde ele buscava romper a bolha cultural da academia e levar suas ideias ao povo brasileiro em geral.",
        "en": "Additionally, Milton had a very productive career that left more than 40 papers as a legacy for Brazil, including the most famous ones like “Por uma Geografia Nova” (For a New Geography) and “O Espaço Dividido” (The Divided Space), both from 1978. These contents through his books created what we have today as theories and affirmations related to globalization in different aspects where he wanted to break up the cultural bubble of the academy and send his ideas to the brazilian nation."
    }

    const textoAutorP5 = {
        "br": "Considerando toda a carreira, vida profissional e acadêmica de Milton Santos, salienta-se que ele é uma referência fundamental para a geografia brasileira e mundial. Além de sua importância no âmbito educacional, Milton teve um importante papel no rompimento de barreiras estabelecidas por meio do preconceito racial, tema este que foi presente em seu cotidiano durante toda a sua vida.",
        "en": "Taking his personal and professional career as an example, it stands out that he is a fundamental reference to the brazilian and global geography. Also, his importance in the education of the country, Milton Santos had an important function on the barrier breaking talking about racism, a theme that he talked about his entire life."
    }

    const textoAutorP6 = {
        "br": "Em 24 de junho de 2001, ele faleceu, com 75 anos, em decorrência de um câncer na próstata. Ele deixa um legado tão rico que o mundo ainda não foi capaz de compreendê-lo por inteiro.",
        "en": "On July, 24, 2001, he passed away at 75 years old, by prostate cancer. He leaves a legacy so rich that the world has not yet been able to fully understand it."
    }

// CRÉDITOS - AUTORES E LINKS EXTERNOS
-
    const textProduced = {
        "br": "*redação produzida por: ",
        "en": "*wording produced by: "
    }

    const textPlus = {
        "br": "Acesse agora o currículo completo com todas as obras e premiações de Milton Santos:",
        "en": "Access now the complete curriculum with all works and awards by Milton Santos:"
    }

    const linkPlus = {
        "br": "Leia Mais",
        "en": "Know More"
    }
