// Página Início"
// Título da Página:
-
    const titlePG = {
        "br": "Início · Milton Santos",
        "en": "Home · Milton Santos"
    }

// Carrosel - LEGENDAS E LINKS: 
-
    const subtitleCAR1 = {
        "br": "Obras, biografia e resumos...",
        "en": "Works, biography and abstracts..."
    }

    const subtitleCAR2 = {
        "br": "Geógrafo, escritor e militante...",
        "en": "Geographer, writer and activist..."
    }

// CARDS - Textos e Títulos: 
-
    const titleC1 = {
        "br": "Biografia",
        "en": "Biography"
    }

    const textC1 = {
        "br": "Milton Santos veio ao mundo no dia 3 de maio de 1926. Nascido na Bahia, em Brotas de Macaúba, era filho de Adalgisa Umbelina de Almeida Santos e Francisco Irineu dos Santos. Quando menino, foi alfabetizado pelos próprios pais, que eram professores. Morou parte de sua infância no colégio interno Instituto Baiano de Ensino. Muito cedo o garoto despertou interesse pela geografia, e começou a ensinar os colegas aos 15 anos. Em 1948, aos 22 anos, concluiu o curso de direito na Universidade Federal da Bahia. Entretanto, seguiu lecionando geografia e uma década depois forma-se doutor nessa disciplina pela Universidade de Estrasburgo, na França. Durante todo esse período, Milton atuava na militância de esquerda e fazia parte de ações contra o racismo.",
        "en": "Milton Santos came into the world on May 3, 1926. Born in Bahia, in Brotas de Macaúba, he was the son of Adalgisa Umbelina de Almeida Santos and Francisco Irineu dos Santos. As a boy, he was taught to read and write by his own parents, who were teachers. He spent part of his childhood at the boarding school Instituto Baiano de Ensino. Very early on, the boy became interested in geography, and started teaching his classmates at the age of 15. In 1948, at the age of 22, he graduated in law from the Federal University of Bahia. However, he continued teaching geography, and a decade later he earned a doctorate in this discipline from the University of Strasbourg, in France. Throughout this period Milton was active in left-wing militancy and took part in actions against racism."
    }

    const titleC2 = {
        "br": "Principais Obras",
        "en": "Main Books"
    }

    const textC2 = {
        "br": "Milton Santos teve uma carreira muito produtiva, dedicou-se a mais de 40 publicações literárias, traduzidas em inglês, espanhol, japonês e francês. Dentre seus livros mais importantes, podemos destacar os títulos:",
        "en": "Milton Santos had a very productive career, he dedicated himself to more than 40 literary publications, translated into English, Spanish, Japanese, and French. Among his most important books, we can highlight the titles:"
    }

    const topics1 = {
        "br": "A Cidade nos Países Subdesenvolvidos (1965);",
        "en": "The City in Underdeveloped Countries (1965);"
    }

    const topics2 = {
        "br": "O Espaço Dividido (1978);",
        "en": "The Divided Space (1978);"
    }

    const topics3 = {
        "br": "Pobreza Urbana (1978);",
        "en": "Urban Poverty (1978);"
    }

    const topics4 = {
        "br": "Espaço e Sociedade (1979);",
        "en": "Space and Society (1979);"
    }

    const topics5 = {
        "br": "Ensaios Sobre a Urbanização Latino-Americana (1982);",
        "en": "Essays on Latin American Urbanization (1982);"
    }

    const topics6 = {
        "br": "Espaço e Método (1985);",
        "en": "Space and Method (1985);"
    }

    const topics7 = {
        "br": "A Urbanização Brasileira (1993);",
        "en": "Brazilian Urbanization (1993);"
    }

    const titleC3 = {
        "br": "Frases",
        "en": "Phrases"
    }
    
    const phrase1 = {
        "br": "“O Brasil jamais teve cidadãos, nós, a classe média, não queremos direitos, nós queremos privilégios, e os pobres não têm direitos, não há, pois, cidadania neste país, nunca houve!”",
        "en": "“The Brazil has never had citizens, we, the middle class, do not want rights, we want privileges, and the poor have no rights, so there is no citizenship in this country, there never was!”"
    }

    const phrase2 = {
        "br": "“Existem apenas duas classes sociais, as do que não comem e as do que não dormem com medo da revolução dos que não comem.”",
        "en": "“There are only two social classes, those of the don't eat and those who don't sleep for fear of the revolution of the don't eat.”"
    }

    const phrase3 = {
        "br": "“Nunca na história da humanidade houve condições técnicas e científicas tão adequadas a construir o mundo da dignidade humana, apenas essas condições foram expropriadas por um punhado de empresas que decidiram construir um mundo perverso.”",
        "en": "“Never in human history have there been technical and scientific conditions so adequate to build the world of human dignity, only those conditions have been expropriated by a handful of corporations who decided to build a perverse world.”"
    }

    const phrase4 = {
        "br": "“O homem deixou de ser o centro do mundo. O que vemos hoje é o dinheiro como o centro do mundo. Isso por conta da política que se instalou, proposta pelos economistas e imposta pela mídia.”",
        "en": "“The Man is no longer the center of the world. What we see today is money as the center of the world. This is because of the politics that have been installed, proposed by economists and imposed by the media.”"
    }

// Referência Bibliográficas e LINKS - PÁG
-
    const titleRef = {
        "br": "Referências Bibliográficas",
        "en": "Bibliographic References"
    }

    const Ref1 = {
        "br": "Toda Matéria - Milton Santos",
        "en": "All Matter - Milton Santos"
    }

    const Ref2 = {
        "br": "Cultura Genial - Milton Santos: Biografia e Obras",
        "en": "Genius Culture - Milton Santos: Biography and Works"
    }

    const Ref3 = {
        "br": "O legado de Milton Santos: um novo mundo possível surgirá das periferias",
        "en": "The legacy of Milton Santos: a new possible world will emerge from the peripheries"
    }