doctype html 

head 
    title Página Teste - Milton Santos
body 
    h1 PÁGINA FEITA COM PUG

footer.rodape
img.imagemRod(src="/public/images/ifms.png")
br
br
| Todos os Direitos Reservados - 2021
br
br
| Adriel Carmo
br
| Vinícius Batista
br
| João Haufes