.d-flex.bd-highlight {
    margin-left: 6%;
    margin-right: 6%;
}
.conteudo h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 100px;
}